<div class="container d-flex justify-content-center align-items-start py-5">
    <div class="card shadow-sm" style="width: 18rem;">
        <div class="card-body">
            <h3 class="card-title">{{ nombre }}</h3>
            <p class="card-text text-muted">{{ descripcion }}</p>
            <p class="card-text"><strong>Decoración:</strong> 
                <span>
                    <li>Piñata grande</li>
                    <li>Piñata grande</li>
                </span></p>
            <p class="card-text"><strong>Precio:</strong> <br>
                <span class="text-danger">${{ precio }} MXN</span></p>
            <a href="#" class="btn btn-primary w-100 mt-3">Ver más detalles</a>
        </div>
    </div>
</div>
