.container h1{
    font-family: 'Righteous';
    color: #710A85;
}

.card-paquete {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
}

.card-paquete .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.card-paquete .card-title {
    font-family: 'Righteous', sans-serif;
    color: #710A85;
}

.card-paquete .price {
    font-size: 1.2rem;
    font-weight: bold;
    color: #d9534f;
}

.card-paquete .btn {
    background-color: #710A85;
    border: none;
    transition: background-color 0.3s ease;
}

.card-paquete .btn:hover {
    background-color: #5a086b;
}

.btn-primary {
    background-color: #710A85;
    border: none;
    color: white;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #8e24aa;
}

.delete-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #e53935;
    color: white;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    z-index: 10;
    transition: all 0.3s ease;
}

.delete-button:hover {
    background-color: #d32f2f;
}

.circular-button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background-color: #710A85;
    color: white;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.3s ease;
}