<body>
    <h1>Mayoristas</h1>
    <div class="container">
        <form class="login-form">
            <div class="input-group">
                <i class="fas fa-user"></i>
                <input type="text" placeholder="Nombre" required>
            </div>
            <div class="input-group">
                <i class="fas fa-envelope"></i>
                <input type="email" placeholder="Correo electrónico" required>
            </div>
            <div class="input-group">
                <i class="fas fa-lock"></i>
                <input type="password" placeholder="Contraseña" required>
            </div>
            <button type="submit" class="login-button">Registrar</button>
        </form>
    </div>
</body>
