<body>
    <app-header></app-header>
    <div class="login">
        <div class="container">
            <div class="image-section">
                <img src="../../../assets/recursos/register.png" alt="Illustration">
                <h2>Explore the World</h2>
                <p>Start your journey with us.</p>
            </div>
            <div class="form-section">
                <h1>Bienvenido!</h1>
                <p>Regístrate aquí</p>
                <form (ngSubmit)="onRegister()" #registerForm="ngForm">
                    <div class="mb-3">
                        <label for="nombre_cliente" class="form-label">Nombre Completo</label>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-user"></i></span>
                            <input type="text" class="form-control" id="nombre_cliente"
                                [(ngModel)]="usuario.nombre_cliente" name="nombre_cliente" required>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="correo" class="form-label">Correo Electrónico</label>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-envelope"></i></span>
                            <input type="email" class="form-control" id="correo" [(ngModel)]="usuario.correo"
                                name="correo" required>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="contrasena" class="form-label">Contraseña</label>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-lock"></i></span>
                            <input type="password" class="form-control" id="contrasena" [(ngModel)]="usuario.contrasena"
                                name="contrasena" required>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="telefono" class="form-label">Teléfono</label>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-phone"></i></span>
                            <input type="tel" class="form-control" id="telefono" [(ngModel)]="usuario.telefono"
                                name="telefono" required>
                        </div>
                    </div>
                    <input type="hidden" [(ngModel)]="usuario.tipo_usuario" name="tipo_usuario" value="menudeo">
                    <button type="submit" class="btn btn-primary w-100">Registrarse</button>
                </form>
                <div class="text-center mt-3">
                    <p>¿Ya tienes cuenta? <a href="/login">Inicia sesión aquí</a></p>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</body>