<body>
  <app-header></app-header>
  <div class="container-fluid my-5 d-flex align-items-start">
    <!-- Sidebar del carrito: solo se muestra si el usuario ha iniciado sesión -->
    <div class="col-lg-3" *ngIf="isAuthenticated">
      <app-cart [cartItems]="cartItems"></app-cart>
    </div>

    <!-- Contenedor principal para las piñatas -->
    <div [class.col-lg-9]="isAuthenticated" [class.col-lg-12]="!isAuthenticated" class="container-pinata">
      <h1 class="title text-center mb-4">Nuestras Piñatas</h1>
      <div class="d-flex justify-content-center mb-4">
        <select
            class="form-select custom-select"
            [(ngModel)]="paqueteSeleccionado"
            (change)="loadComponents()"
        >
            <option *ngFor="let paquete of paquetes" [value]="paquete.id_paquete">
                {{ paquete.nombre_paquete }}
            </option>
        </select>
    </div>

    <div class="paquetes-container">
        <div class="card mb-3 position-relative" *ngFor="let componente of componentes">
            <!-- Botón de basura circular -->
            <button
                class="delete-button"
                (click)="deleteComponent(componente.id_componente!)"
                [disabled]="!componente.id_componente"
                aria-label="Eliminar componente"
                title="Eliminar componente"
            >
                <i class="fa fa-trash"></i>
            </button>

            <div class="card-body">
                <h5 class="card-title">{{ componente.nombre_componente }}</h5>
                <p class="card-text">
                    <strong>Tipo:</strong> {{ componente.tipo_componente }} <br />
                    <strong>Cantidad:</strong> {{ componente.cantidad }} <br />
                    <strong>ID Paquete:</strong> {{ componente.id_paquete }}
                </p>
            </div>
        </div>
    </div>

    </div>
  </div>
  <app-footer></app-footer>
</body>