<h1>Pedidos</h1>
<div class="container mt-5">
    <table class="table table-hover align-middle">
        <thead class="table-light">
            <tr>
                <th scope="col"></th>
                <th scope="col">Nombre</th>
                <th scope="col">Paquete</th>
                <th scope="col">Estatus</th>
                <th scope="col">Dirección</th>
                <th scope="col">Status</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="checkbox" /></td>
                <td>
                    <div class="d-flex align-items-center">
                        <div>
                            <div class="fw-bold">Enrique Cruz</div>
                            <div class="text-muted">Mayorista</div>
                        </div>
                    </div>
                </td>
                <td>Paquete 1<br />
                    <span class="text-muted">
                        <li>Piñata grande</li>
                    </span>
                    <li>Decoracion de Karely Ruiz</li>
                </td>
                <td><span class="badge bg-success">Approved</span></td>
                <td>Houston, US</td>
                <td><span class="text-success">Active</span></td>
                <td>
                    <button class="btn btn-sm btn-primary me-2">
                        <i class="fa-solid fa-pencil"></i>
                    </button>
                    <button class="btn btn-sm btn-danger">
                        <i class="fa-solid fa-trash"></i>
                    </button>
                </td>
            </tr>

            <tr>
                <td><input type="checkbox" /></td>
                <td>
                    <div class="d-flex align-items-center">
                        <div>
                            <div class="fw-bold">Enrique Cruz</div>
                            <div class="text-muted">Mayorista</div>
                        </div>
                    </div>
                </td>
                <td>Paquete 1<br />
                    <span class="text-muted">
                        <li>Piñata grande</li>
                    </span>
                    <li>Decoracion de Karely Ruiz</li>
                </td>
                <td><span class="badge bg-warning text-dark">Awaiting Approval</span></td>
                <td>Houston, US</td>
                <td><span class="text-success">Active</span></td>
                <td>
                    <button class="btn btn-sm btn-primary me-2">
                        <i class="fa-solid fa-pencil"></i>
                    </button>
                    <button class="btn btn-sm btn-danger">
                        <i class="fa-solid fa-trash"></i>
                    </button>
                </td>
            </tr>

            <tr>
                <td><input type="checkbox" /></td>
                <td>
                    <div class="d-flex align-items-center">
                        <div>
                            <div class="fw-bold">Enrique Cruz</div>
                            <div class="text-muted">Mayorista</div>
                        </div>
                    </div>
                </td>
                <td>Paquete 1<br />
                    <span class="text-muted">
                        <li>Piñata grande</li>
                    </span>
                    <li>Decoracion de Karely Ruiz</li>
                </td>
                <td><span class="badge bg-danger">Rejected</span></td>
                <td>Houston, US</td>
                <td><span class="text-success">Active</span></td>
                <td>
                    <button class="btn btn-sm btn-primary me-2">
                        <i class="fa-solid fa-pencil"></i>
                    </button>
                    <button class="btn btn-sm btn-danger">
                        <i class="fa-solid fa-trash"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>