<div class="container d-flex justify-content-center align-items-start py-5">
    <div class="card shadow-sm" style="width: 18rem;">
        <div class="card-body">
            <!-- Título con botón circular al lado -->
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h3 class="card-title">{{ nombre }}</h3>
                <button class="circular-button">
                    <i class="fa fa-trash"></i> <!-- Ícono pequeño de eliminar -->
                </button>
            </div>
            <p class="card-text text-muted">{{ tipo }}</p>
            <p class="card-text"><strong>Precio:</strong> <br>
                <span class="text-danger">${{ precio }} MXN</span>
            </p>
            <p class="card-text text-muted">{{ cantidad }}</p>
            <a href="#" class="btn btn-primary w-100 mt-3">Ver más detalles</a>
        </div>
    </div>
</div>
