<body>
    <app-header></app-header>
    <div class="login">
        <div class="container">
            <div class="image-section">
                <img src="../../../assets/recursos/login.png" alt="Illustration">
                <h2>Piñatas Magic's</h2>
                <p>Diversión en cada piñata</p>
            </div>
            <div class="form-section">
                <h1>¡Bienvenido!</h1>
                <p>Estamos encantados de tenerte de vuelta</p>
                <form (ngSubmit)="onLogin()">
                    <div class="mb-3">
                        <label for="email" class="form-label">Correo Electrónico</label>
                        <input [(ngModel)]="correo" name="correo" type="email" class="form-control" id="correo"
                            placeholder="Ingresa tu correo" required>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Contraseña</label>
                        <input [(ngModel)]="contrasena" name="contrasena" type="password" class="form-control"
                            id="contrasena" placeholder="Ingresa tu contraseña" required>
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Iniciar Sesión</button>
                </form>
                <div class="text-center mt-3">
                    <p>¿No tienes cuenta? <a href="/registro">Regístrate</a></p>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</body>