.carousel-inner img {
    max-height: 500px; /* Ajusta la altura de las imágenes */
    object-fit: cover; /* Asegura que las imágenes se ajusten al tamaño del contenedor */
  }
  
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro para los controles */
    border-radius: 50%;
  }
  