.carousel-inner {
    border: 3px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 800px;
}

.carousel-item img {
    border: 3px solid blue;
    max-width: 100%;
    height: 50vh;
    object-fit: contain;
}