<body>
  <app-header></app-header>
  <div class="container">
    <div class="contact-form">
      <div class="menu-icon"></div>
      <h1>Contáctanos</h1>
      <p>Recibe promociones e información</p>
      <form>
        <div class="form-group">
          <input type="text" placeholder="Nombre" required>
        </div>
        <div class="form-group">
          <input type="email" placeholder="Correo Electrónico" required>
        </div>
        <div class="form-group">
          <textarea class="form-control" id="mensaje" rows="5" placeholder="Tu mensaje" required></textarea>
        </div>
        <button type="submit">Enviar</button>
      </form>
    </div>

    <!-- Info Section -->
    <div class="info-section">
      <h2>Nuestra Información</h2>
      <ul>
        <li><i class="fa-solid fa-envelope"></i> info&#64;pinatasmagics.com</li>
        <li><i class="fa-solid fa-phone"></i> +52 449 185 7065</li>
        <li><i class="fa-solid fa-map-marker-alt"></i>Jose S Bustamante #440 V,N.S.A</li>
        <li><i class="fa-solid fa-clock"></i>Horarios de Atención</li>
        <li>
          <p><strong>Lunes a Viernes:</strong> 9:00 AM - 6:00 PM</p>
          <p><strong>Sábados:</strong> 9:00 AM - 2:00 PM</p>
          <p><strong>Domingos:</strong> Cerrado</p>
        </li>
      </ul>
      <div class="social-icons">
        <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
        <a href="#"><i class="fa-brands fa-twitter"></i></a>
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</body>