<div class="bg-light p-3" style="width: 300px; position: sticky; top: 20px; max-height: 80vh; overflow-y: auto;">
  <h4 class="text-center">Carrito</h4>
  <ul *ngIf="cartItems.length > 0; else emptyCart" class="list-unstyled">
    <li *ngFor="let item of cartItems; let i = index" class="d-flex align-items-center mb-3">
      <img [src]="item.image ? item.image : '../../../assets/404-page.png'" alt="{{ item.name }}"
        style="width: 50px; height: 50px; margin-right: 10px;">
      <div>
        <strong>{{ item.name }}</strong> <br>
        ${{ item.price | number: '1.2-2' }}

        <div class="d-flex align-items-center mt-2">
          <button class="btn btn-outline-secondary btn-sm" (click)="decreaseQuantity(i)">-</button>
          <input type="number" class="form-control mx-2 quantity-input" style="width: 60px;" [value]="item.quantity"
            readonly>
          <button class="btn btn-outline-secondary btn-sm" (click)="increaseQuantity(i)">+</button>
        </div>

        <button class="btn btn-danger btn-sm mt-2" (click)="removeItem(i)">Eliminar</button>
      </div>
    </li>
  </ul>
  <div class="mt-3">
    <strong>Subtotal: </strong> ${{ getSubtotal() | number: '1.2-2' }}
  </div>
  <ng-template #emptyCart>
    <p>Tu carrito está vacío</p>
  </ng-template>
</div>