<div class="container d-flex justify-content-center align-items-start py-5">
    <div class="card shadow-sm" style="width: 18rem;">
        <!-- Imagen al inicio -->
        <img src="../../../assets/pinatas/pinata_clasica.jpg" class="card-img-top" alt="Piñata Clásica">
        <div class="card-body card-pinata">
            <h5 class="card-title">{{ nombre }}</h5>
            <p class="card-text text-muted">{{ descripcion }}</p>
            <p class="card-text"><strong>Precio:</strong> <br>
                <span class="text-danger">${{ precio }} MXN</span></p>
            <a href="#" class="btn btn-primary w-100 mt-3">Ver más detalles</a>
        </div>
    </div>
</div>
