.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    max-width: 100%;
}

.card-img-top {
    width: 95%;
    height: 20vh;
    object-fit: cover;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: auto;
    width: 100%;
}

img {
    max-width: 100%;
    height: auto;
}