.card-productos{
    background-color: #F3E9F5;
    border: 2px solid #B887C1;
    color: #710A85;
    max-width: 350px; /* Ajusta el tamaño máximo de las tarjetas */
    margin: auto; /* Centra las tarjetas dentro de las columnas */
  }

  .card-productos button{
    background-color: antiquewhite;
    border-color: #710A85;
    color: #710A85;
  }