* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h3 {
    font-family: 'Righteous';
    font-size: 2.5rem;
    color: black;
    text-shadow: 2px 2px #FFF;
    margin-bottom: 15px;
  }

body {
    font-family: Arial, sans-serif;
}

.footer {
    background-color: #FDD5A5;
    padding: 20px;
    color: #333;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1;
    margin: 10px;
    min-width: 200px;
}

.footer-section h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.footer-section p {
    font-size: 0.9em;
    line-height: 1.5;
}

.footer-section ul {
    list-style-type: none;
}

.footer-section ul li {
    margin-bottom: 5px;
}

.social-icons {
    display: flex; /* Alinea los íconos en fila */
    justify-content: center; /* Centra los íconos horizontalmente */
    gap: 10px; /* Espacio entre los íconos */
  }
  
  .footer-icon {
    display: flex; /* Asegura que el contenido esté centrado */
    align-items: center;
    justify-content: center;
    width: 50px; /* Ancho del círculo */
    height: 50px; /* Alto del círculo */
    border-radius: 50%; /* Hace que el botón sea circular */
    background-color: #f39c12; /* Color de fondo */
    color: white; /* Color del ícono */
    text-decoration: none; /* Elimina subrayados en el enlace */
    font-size: 20px; /* Tamaño del ícono */
    transition: background-color 0.3s, transform 0.2s; /* Animación de hover */
  }
  
  .footer-icon:hover {
    background-color: #e67e22; /* Cambia el color de fondo al pasar el mouse */
    transform: scale(1.1); /* Efecto de zoom */
  }
  

.newsletter-form {
    display: flex;
    flex-direction: column;
}

.newsletter-form input[type="email"] {
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}

.newsletter-form button {
    padding: 10px;
    background-color: #ffa500;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 0.8em;
}

i{
    color: white;
}