<footer class="footer">
    <div class="footer-container">
        <div class="footer-section">
            <img src="../../../assets/recursos/logo-pinata.png" alt="Piñatas Magic" style="width: 200px;" class="logo">
        </div>

        <div class="footer-section">
            <h3>NOSOTROS</h3>
            <p>Nos especializamos en crear piñatas y decoraciones temáticas que dan vida a tus celebraciones. Con pasión
                y creatividad, hacemos de cada fiesta una experiencia única.</p>
            <br>
            <div class="social-icons">
                <a href="#" class="footer-icon"><i class="fa fa-twitter"></i></a>
                <a href="#" class="footer-icon"><i class="fa fa-facebook"></i></a>
                <a href="#" class="footer-icon"><i class="fa fa-instagram"></i></a>
            </div>
        </div>

        <div class="footer-section">
            <h3>NUESTROS PRODUCTOS</h3>
            <ul>
                <li>Piñatas</li>
                <li>Decoraciones</li>
                <li>Paquetes</li>
                <li>Promociones</li>
            </ul>
        </div>

        <div class="footer-section">
            <h3>REGÍSTRATE</h3>
            <p>Sé el primero en enterarte de nuestrar promociones.</p>
            <br>
            <form class="newsletter-form">
                <input type="email" placeholder="Your email">
                <button type="submit">Subscribe</button>
            </form>
        </div>
    </div>
</footer>