<div class="sidebar">
    <div class="sidebar-header">
        <img src="../../../assets/recursos/logo-pinata.png" alt="Logo" class="logo" />
    </div>

    <ul class="sidebar-menu">
        <li class="menu-item" routerLink="/paquetes" routerLinkActive="active">
            <img src="../../../assets/recursos/icon-paquetes.svg" class="material-icons">
            <span class="menu-text">Paquetes</span>
        </li>
        <li class="menu-item" routerLink="/componentes" routerLinkActive="active">
            <img src="../../../assets/recursos/icon-paquetes.svg" class="material-icons">
            <span class="menu-text">Componentes</span>
        </li>
        <li class="menu-item" routerLink="/pedidos" routerLinkActive="active">
            <img src="../../../assets/recursos/icon-paquetes.svg" class="material-icons">
            <span class="menu-text">Pedidos</span>
        </li>
        <li class="menu-item" routerLink="/mayoristas" routerLinkActive="active">
            <img src="../../../assets/recursos/icon-paquetes.svg" class="material-icons">
            <span class="menu-text">Mayoristas</span>
        </li>
    </ul>
</div>